
body {
    background-color: #F5F5F5;
    font-family: sans-serif;
    min-width: 440px;
}

.splash {
    width: 100vw;
    min-width: 440px;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-content {
    width: 420px;
    /*text-align: center;*/
}

.swedev-logo-wrapper {
    width: 70%;
}

.swedev-logo {
    width: 100%;
    padding-top: 35.091%;
    background: url('/img/logo_swedev.svg') center no-repeat;
    background-size: contain;
}

.swedev-description {
    padding: 3em 0 1.5em 0;
    font-size: 90%;
}

.swedev-community {
    display: flex;
    padding-bottom: 3em;
    /*justify-content: center;*/
}


.swedev-community > .social-link {
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.swedev-community .icon {
    height: 1.4em;
    padding-right: 0.3em;
    box-sizing: border-box;
}

.swedev-community .icon > img {
    width: auto;
    height: 1.4em;
    vertical-align: top;
}
